.navbar {
    background-color: #c00bc0;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    margin-right: 10vmin;
    letter-spacing: 0.15em;
}

.footer,
.footer:hover {
    text-decoration: none;
    color: white;
}